.section.blog-list {
  .pagination {
    justify-content: center;
  }

  .post {
    margin-bottom: 2rem;
    padding-bottom: 3rem !important;
  }

  .post-thumbnail {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
}
