<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta name="keywords" content="{{ if .Params.Keywords }}{{遍历 .Params.Keywords ", " }}{{ end }}">

  <link rel="canonical" href="{{ .Permalink }}" />

  <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ "images/slideshower_screenshot.webp" | absURL }}{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  
  {{ partial "head/_favicons.html" . }}

  {{ partial "head/_seo.html" . }}
  {{ partial "head/_resources.html" . }}
  {{ partial "head/_buymeacoffee.html" . }}
  {{ partial "head/_googleanalytics.html" . }}

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "SoftwareApplication",
      "name": "Slideshower",
      "description": "Slideshower is the simplest app to run photo slideshows on macOS.",
      "image": "{{ "images/slideshower_screenshot.webp" | absURL }}",
      "operatingSystem": "macOS",
      "applicationCategory": "Multimedia",
      "softwareVersion": "{{ .Site.Params.latestVersion }}",
      "offers": {
        "@type": "Offer",
        "price": "{{ .Site.Params.price }}",
        "priceCurrency": "{{ .Site.Params.priceCurrency }}",
        "availability": "http://schema.org/InStock"
      }
    }
  </script>
</head>