<footer class="shared footer bg-blue-light pb-1 pt-5">
  <div class="container">
    <div class="row pb-5 justify-content-center">
      <div class="col-4 col-xl-4 text-center pb-4">
        <h4 class="fs-4 fw-semibold text-primary">{{ .Site.Title }}</h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
        <a class="small text-black-61 mb-5" href="{{ "privacy-policy" | relURL }}">Privacy Policy</a>
      </div>
      <!-- <div class="col-4 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">About us</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul> 
      </div> -->
      <!--<div class="col-12 col-xl-3 text-center text-xl-start pb-4">
         <h5 class="fs-6 fw-semibold text-primary">Location</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.location }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <div class="d-flex align-items-center text-primary">{{ partial "icons/geo-alt.html" }}</div>
              <p class="small text-black-61 m-0 ps-2">{{ . }}</p>
            </li>
          {{ end }}
        </ul> 
      </div>-->
      <div class="col-4 col-xl-4 text-center pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Contact me</h5>
          <a class="small text-black-61 mb-1" href="mailto:hello@slideshower.com">hello@slideshower.com</a>
        <!-- {{ range .Site.Params.contact }}
          <p class="small text-black-61 mb-1">{{ . }}</p>
        {{ end }} -->
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center list-unstyled p-2">
          {{ with .dribbble }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/dribbble.html" }}</a></li>{{ end }}
          {{ with .instagram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
          {{ with .facebook }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/facebook.html" }}</a></li>{{ end }}
          {{ with .twitter }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/twitter.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
        <div class="col-4 col-xl-4 text-center">
          <!-- <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ptrybulski" data-color="#FFDD00" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script> -->
          <a class="twitter-timeline" data-width="400" data-height="250" href="https://twitter.com/slideshowerMac?ref_src=twsrc%5Etfw">Tweets by slideshowerMac</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 text-center">
        {{ with .Site.Params.copyright }}
          <p class="small text-black-61 text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
