<section class="section faq py-10" id="faq">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-xl-10">
        <h1 class="fs-1 fw-bold text-center text-primary pb-4">FAQ</h1>
        <div class="faq-container">
          <div class="faq-item">
            <h4 class="faq-question">What is Slideshower?</h4>
            <h5 class="faq-answer">Slideshower is the simplest app to run photo slideshows on macOS. It's designed for ease of use and functionality.</dd>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">Is Slideshower easy to use?</h4>
            <h5 class="faq-answer">Yes, Slideshower is user-friendly, allowing for simple, randomized, full-screen photo shows on macOS.</h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">Can I shuffle photos in my slideshow?</h4>
            <h5 class="faq-answer">Absolutely, Slideshower includes a shuffle mode to mix up your slideshow order, a feature not available in the macOS Photos app.</h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">How much does Slideshower cost?</h4>
            <h5 class="faq-answer">It's free to use up to 150 files. If you need to run a bigger slideshow, you can <a href="https://slideshower.lemonsqueezy.com/buy/1ca1b16c-3429-495e-b968-431dd333a66e">buy</a> a one-time license for $19 only.</h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">How do I download Slideshower?</h4>
            <h5 class="faq-answer">You can download Slideshower <a href="#download">directly from this website</a>.</h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">How to install Slideshower?</h4>
            <h5 class="faq-answer">Download a dmg installation file and open it. Drag & drop Slideshower icon into the Application folder icon. And it's done! If you have problems, contact me at <a href="mailto:hello@slideshower.com">hello@slideshower.com</a></h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">How to activate the license key?</h4>
            <h5 class="faq-answer">If you bought the license, you should get your license key in the email. Copy it, open the app and click the button "Enter license key" located in the bottom left corner of the app. Paste your license key and activate it.</h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">Which macOS versions are supported?</h4>
            <h5 class="faq-answer">Slideshower runs on macOS Monterey (12.0) and up.</h5>
          </div>
          <div class="faq-item">
            <h4 class="faq-question">What file formats are supported?</h4>
            <h5 class="faq-answer">Slideshower currently supports the following image formats: JPG/JPEG, PNG, HEIC, GIF, WebP, TIF, JXL and AVIF.</h5>
        </div>
        <div class="faq-item">
          <h4 class="faq-question">Can Slideshower handle folders with multiple subfolders?</h4>
          <h5 class="faq-answer">Yes, Slideshower can import photos from folders containing multiple nested directories. When you select a folder, the app will automatically find and include all supported image files from the main folder and all of its subfolders, making it perfect for viewing huge photo collections organized in multiple directories.</h5>
        </div>
        <div class="faq-item">
          <h4 class="faq-question">Can Slideshower play background music while running a slideshow?</h4>
          <h5 class="faq-answer">Starting with version 3.0, Slideshower supports playing background music during your slideshows. You can add multiple audio tracks that will play in sequence (in a loop or not). Supported audio formats are: .mp3, .wav, .aac, .aiff, .audio.</h5>
        </div>
          <div class="faq-item">
            <h4 class="faq-question">Can I request new features for Slideshower?</h4>
            <h5 class="faq-answer">Yes! I am open to suggestions. If you need more features, <a href="#contact">reach out to me</a>, and I'll consider adding them.</h5>
          </div>
        </dl>
      </div>
    </div>
    
  </div>
</section>


