<section class="section releasenotes py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h2 class="fs-1 fw-bold text-center text-primary pb-3">Release Notes </h2>
        <div class="release-note">
          <span class="release-date">Apr 17, 2024</span>
          <span class="release-version">v1.13</span>
          <span class="release-description">Improved shuffle mode.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Mar 29, 2024</span>
          <span class="release-version">v1.12</span>
          <span class="release-description">You can sort files (by name or creation date) before a slideshow. UI improvements.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Mar 21, 2024</span>
          <span class="release-version">v1.11</span>
          <span class="release-description">Grid view (3x3) added. Problem with photos being resized during a transition fixed.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Mar 14, 2024</span>
          <span class="release-version">v1.10</span>
          <span class="release-description">Animated GIFs are supported. Major loading speed improvement. Dark mode issues fixed.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Jan 24, 2024</span>
          <span class="release-version">v1.9</span>
          <span class="release-description">You can exit full-screen mode and run a slideshow in a window. Mouse cursor disapears after 1 sec of inactivity. Auto-update bug fix.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Jan 3, 2024</span>
          <span class="release-version">v1.8</span>
          <span class="release-description">App is now verified by Apple - easy installation. Auto-update functionality added.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Dec 13, 2023</span>
          <span class="release-version">v1.7</span>
          <span class="release-description">You can hide/show thumbnails. You can use arrow keys to go to next/previous photo. Dark mode fixed.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Dec 11, 2023</span>
          <span class="release-version">v1.6</span>
          <span class="release-description">You can remove added photos. Import of big number of photos is much faster now. UI
            improvements.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Dec 7, 2023</span>
          <span class="release-version">v1.5</span>
          <span class="release-description">You can pause & resume a slideshow by pressing a spacebar.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Dec 5, 2023</span>
          <span class="release-version">v1.4</span>
          <span class="release-description">You can stop a slideshow from the main window. Even more UI improvements & bug
            fixes.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Dec 1, 2023</span>
          <span class="release-version">v1.3</span>
          <span class="release-description">UI improved a bit and a bugfix arrived.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Nov 26, 2023</span>
          <span class="release-version">v1.2</span>
          <span class="release-description">You can enable a smooth fade transition.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Nov 22, 2023</span>
          <span class="release-version">v1.1</span>
          <span class="release-description">Full-screen mode bug fixed. ESC button quits the slideshow. You can select
            directories and all photos inside will be added.</span>
        </div>
        <div class="release-note">
          <span class="release-date">Oct 25, 2023</span>
          <span class="release-version">v1.0</span>
          <span class="release-description">Slideshower for macOS released to the public &#127881;</span>
        </div>
      </div>
    </div>
  </div>
</section>