<section id="pricing" class="py-10 bg-light">
    <div class="container">
        <h1 class="fs-1 fw-bold text-center text-primary pb-4">Pricing</h1>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col-md-6 d-flex mb-3 mb-md-4"> <!-- Use d-flex to ensure equal height -->
                        <div class="card shadow-sm text-center w-100"> <!-- Added w-100 for full width -->
                            <div class="card-body d-flex shadow-enhanced flex-column justify-content-between pb-4"> <!-- Changed to justify-content-between -->
                                <div>
                                    <h3 class="card-title py-3">Free Version</h3>
                                    <!-- <p class="card-text">Fully functional app but with a limit of 150 files in a single slideshow.</p> -->
                                    <ul class="list-unstyled">
                                        <li><i class="bi bi-check2"></i> Fully functional app</li>
                                        <li><i class="bi bi-check2"></i> Max. 150 photos per slideshow</li>
                                    </ul>
                                </div>
                                <a href="#download" class="btn btn-primary mt-3 w-50 mx-auto">Download the app</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex mb-3 mb-md-4">   
                        <div class="card shadow-sm bg-primary text-white text-center w-100">
                            <div class="card-body shadow-enhanced d-flex flex-column justify-content-between pb-4">
                                <div>
                                    <h3 class="card-title py-3">Full Version</h3>
                                    <!-- <p class="card-text">No limits, slideshow and free future updates.</p> -->
                                    <ul class="list-unstyled">
                                        <li><i class="bi bi-star-fill"></i> Unlimited number of photos per slideshow</li>
                                        <li><i class="bi bi-star-fill"></i> One-time license fee ($16) - can be activated on 2 devices</li>
                                        <li><i class="bi bi-star-fill"></i> Includes all future updates & feature requests</li>
                                    </ul>
                                </div>
                                <a href="https://slideshower.lemonsqueezy.com/buy/1ca1b16c-3429-495e-b968-431dd333a66e" class="btn btn-light mt-3 w-50 mx-auto">Purchase your license</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
