<section class="section faq py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <h1 class="fs-1 fw-bold text-center text-primary pb-3">FAQ - SlideShower for macOS</h1>
        <div class="faq-container">
          <div class="faq-item">
            <dt class="faq-question">What is SlideShower?</dt>
            <dd class="faq-answer">SlideShower is the simplest app to run photo slideshows on macOS. It's designed for ease of use and functionality.</dd>
          </div>
          <div class="faq-item">
            <dt class="faq-question">Is SlideShower easy to use?</dt>
            <dd class="faq-answer">Yes, SlideShower is user-friendly, allowing for simple, randomized, full-screen photo shows on macOS.</dd>
          </div>
          <div class="faq-item">
            <dt class="faq-question">Can I shuffle photos in my slideshow?</dt>
            <dd class="faq-answer">Absolutely, SlideShower includes a Shuffle mode to mix up your slideshow order, a feature not available in the macOS Photos app.</dd>
          </div>
          <div class="faq-item">
            <dt class="faq-question">How much does SlideShower cost?</dt>
            <dd class="faq-answer">SlideShower is free to use. You can support development by buying me a coffee.</dd>
          </div>
          <div class="faq-item">
            <dt class="faq-question">How do I download SlideShower?</dt>
            <dd class="faq-answer">You can download SlideShower directly from our website. It's a lightweight app, only 2.2 MB in size.</dd>
          </div>
          <div class="faq-item">
            <dt class="faq-question">What makes SlideShower unique for macOS users?</dt>
            <dd class="faq-answer">SlideShower is crafted specifically for macOS, offering a seamless and efficient photo slideshow experience unlike any other app.</dd>
          </div>
          <div class="faq-item">
            <dt class="faq-question">Can I request new features for SlideShower?</dt>
            <dd class="faq-answer">Yes, we are open to suggestions. If you need more features, drop us a line, and we'll consider adding them.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
